[submodule "drogui_rpi"]
	path = drogui_rpi
	url = https://github.com/GuillermoInglis/drogui_rpi.git
[submodule "drogui_global"]
	path = drogui_global
	url = git@github.com:GuillermoInglis/drogui_global.git
